<table class="table" style=" width: 600px;">
    <tbody>
      <tr>
        <th>id</th>
        <td>#</td>
      </tr>
      <tr>
        <th>User Name</th>
        <td>{{ utilisateur?.userName }}</td>
      </tr>
      <tr>
        <th>firstName</th>
        <td >{{ utilisateur?.firstName }}</td>
      </tr>
      <tr>
        <th>lastName</th>
        <td >{{ utilisateur?.lastName }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td >{{ utilisateur?.email }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td >{{ utilisateur?.address }}</td>
      </tr>
      <tr>
        <th>tel</th>
        <td >{{ utilisateur?.tel }}</td>
      </tr>
      <tr>
        <th>role</th>
        <td >{{ utilisateur?.role?.nameRole }}</td>
      </tr>
    </tbody>
</table>