
<header>
    <div class="container">
        <nav>

            <ul>
                <i class="fa-solid fa-car"></i>
                <li><a href="">Home</a></li>
                <li><a href="">profile</a></li>
                <li><a href="">about me</a></li>
                <li><a href="">help</a></li>
                <li><a href="">contact</a></li>
            </ul>

            <div class="iconSher">
                <a href="" class="btnSign signIn">Sign in</a>
                <a href="" class="btnSign signUp">Singn up</a>
            </div>
        </nav>

        <div class="haderContenr">
            <div class="contentTextHader">
                <p class="text1">transport</p>
                <p class="textHader text2">transportation management</p>
                <p class="text3">The main goal of this project is to design and implement a
                    transportation management solution that enables transportation services
                </p>
                <a href=""></a>
            </div>
            <div class="contantImageHader">
                <img src="assets/img/7657153.jpg" alt="">
            </div>
        </div>

        
    </div>
</header>

<!-- Services Section Start -->
<section id="services" class="section">
    <div class="container">

        <div class="row">
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
            <div class="icon">
                <i class="fa-sharp fa-solid fa-road-circle-check"></i>
            </div>
            <h4>Bootstrap 4</h4>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
            </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <h4>Slick Design</h4>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
            </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
            <div class="icon">
                <i class="fa-sharp fa-solid fa-comments-dollar"></i>
            </div>
            <h4>Crafted with Love</h4>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
            </div>
        </div>
        <!-- End Col -->
        </div>
    </div>
    </section>