  
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="dashboard">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard/hotels">
                <span data-feather="file"></span>
                Hotels
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard/rooms">
                <span data-feather="shopping-cart"></span>
                Rooms
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard/reservation">
                <span data-feather="shopping-cart"></span>
                Reservation
              </a>
            </li>
          </ul>
        </div>
      </nav>