<table class="table" style=" width: 600px;">
    <tbody>
      <tr>
        <th>id</th>
        <td>#</td>
      </tr>
      <tr>
        <th>adresseArivee</th>
        <td>{{ offer?.adresseArivee }}</td>
      </tr>
      <tr>
        <th>adresseDepart</th>
        <td >{{ offer?.adresseDepart }}</td>
      </tr>
      <tr>
        <th>dateStart</th>
        <td >{{ offer?.dateStart }}</td>
      </tr>
      <tr>
        <th>dateEnd</th>
        <td >{{ offer?.dateEnd }}</td>
      </tr>
      <tr>
        <th>nmbrPlaces</th>
        <td >{{ offer?.nmbrPlaces }}</td>
      </tr>
      <tr>
        <th>vehicule matricule</th>
        <td >{{ offer?.vehicule?.matricule }}</td>
      </tr>
      <tr>
        <th>vehicule type</th>
        <td >{{ offer?.vehicule?.type }}</td>
      </tr>
      <tr>
        <th>vehicule disponible</th>
        <td >{{ offer?.vehicule?.disponible }}</td>
      </tr>
    </tbody>
</table>