
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="dashboard">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard/hotels">
                <span data-feather="file"></span>
                Hotels
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard/rooms">
                <span data-feather="shopping-cart"></span>
                Rooms
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/reservations/1">
                <span data-feather="shopping-cart"></span>
                Reservation
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h3">Dashboard</h1>
        </div>
        <h1 class="h3">All vehicules</h1>

        <div class="tabal-Hotel mt-1">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">nmbr Places</th>
                  <th scope="col">matricule</th>
                  <th scope="col" class="text-center">action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td>29</td>
                  <td class="text-center">
                      <a href="" class="btn btn-success me-1">Show</a>
                      <a href="" class="btn btn-secondary me-1">update</a>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>29</td>
                  <td class="text-center">
                      <a href="" class="btn btn-success me-1">Show</a>
                      <a href="" class="btn btn-secondary me-1">update</a>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
        
      </main>
    </div>
  </div>
