<h1 class="h3">All Vehicules</h1>
<a href="role/add"  class="btn mb-5 mt-3" style="background-color: #583f96; color: white;">add vehicule</a>
<div class="tabal-Hotel mt-1">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name Role</th>
          <th scope="col" class="text-center">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <td>#</td>
          <td>{{ role.nameRole }}</td>
          <td class="text-center">
              <a href="role/show/{{ role.id }}" class="btn me-1" style="background-color: #715da3;">Show</a>
              <a href="role/update/{{ role.id }}" class="btn me-1" style="background-color: #ffaf8a;">update</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
